button {
    padding: 8px;
    position: relative;
    font-size: 24px;
    color: #fff;
    border-width: 3px;
    border-bottom-width: 5px;
    border-style: solid;
    border-color: #a8a8a8 #565656 #565656 #a8a8a8;
    outline-width: 2px;
    outline-style: solid;
    outline-color: #000;
    background: url(button.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.2s transform;
}

button::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: -3px;
    width: 3px;
    height: 5px;
    background-color: #6d6d6d;
}

button::after {
    content: "";
    position: absolute;
    top: -3px;
    right: -3px;
    width: 3px;
    height: 3px;
    background-color: #6d6d6d;
}

button:hover {
    outline-color: #fff;
}

div .input {
    display: inline-block;
    position: relative;
    background-color: #000;
    border: 2px solid #aaa;
    padding: 10px;
    color: #fff;
    outline: none;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    min-width: 400px;
    max-width: 90%;
    text-align: left;
    cursor: default;
    caret-shape: underscore;
}
